* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    padding: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: lightgray;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonInput {
margin: 30px;
}
